<div class="contents row">
  <p><%= @name %>さん</p>
    <div class="content_post" style="background-image: url(<%= @product.image %>);">
      <h1><%= @product.item %></h1>
      <h2><%= @product.battery %></h2>
      <p><%= @product.maker %></p>
      <span class="name"><%= @name %></span>
    </div>
</div>
<div>
<p class="yearMonth"></p>
<div id="calendar"></div>



</div>