<div class="contents_row">
 <div class="contents_flex">
  <div class="show_list">
   製品画像<br>
  </div>
    <%= image_tag @product.image, class: "product-img" if @product.image.attached? %>
    <% if current_user.id == @product.user_id %>
  <div class="c_tag">
    <%= link_to "機器登録", new_product_path, class: "post" %>
  </div>
  <% end %>
    <div class="show_list">
    氏名<br>
    </div>
    <p class = "show__list"><%= @user.name %></p>
    <div class="show_list">
    残バッテリー年数<br>
    </div>
      <p class = "show__list"><%= "#{@product.battery}年" %></p>
    <div class="show_list">
    製品名<br>
    </div>
      <p class = "show__list"><%= @product.item %></p>
    <div class="show_list">
    メーカー<br>
    </div>
    <div>
      <p class = "show__list"><%= @product.maker %></p>
    </div>
 </div>
 <div class="contents_flex">
  <div class = "show_calendar">
   <%= form_with model: @plan, local: true, url: user_plans_path(@user.id), method: :post, class: 'form' do |f| %>

    <%= f.label :日付を選択, class: 'lavel' %>
    <%= f.date_field :date, class: 'date-select' %>
    <%= f.label :予定を入力, class: 'lavel' %>
    <%= f.text_field :plan, class: 'text-input' %>
    <%= f.submit '保存' %>
   <% end %>
  </div>
  <div class='calendar'>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
          <%= day[:month] %>/<%= day[:date] %>
          <%= day[:wday] %>
        </div>
        <ul class='content'>
        <% if day[:plans].length != 0 %>
          <% day[:plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
 </div>
</div>