<div class="contents_row">
 <div class="contents_flex">
  

  <% if @user.product.present? %>
  
    <% if adminn_signed_in? %>
    <div class="c_tag">
    <%= link_to "機器編集", edit_user_products_path(@user.id), class: "post" %><br>
    </div>
   <% end %>
   <div class="c_tag">
   <br>
   <%= link_to "機器情報", user_products_path(@user.id), class: "post" %><br>
   </div>
    
  <% else %>
   <% if adminn_signed_in? %>
    <div class="c_tag">
    <%= link_to "機器登録", new_user_products_path(@user.id), class: "post" %>
    </div>
   <% end %>
  <% end %>
  
 <div class="contents_flex">
  <div class = "show_calendar">
   <%= form_with model: @plan, local: true, url: user_plans_path(@user.id), method: :post, class: 'form' do |f| %>

    <%= f.label :日付を選択, class: 'lavel' %>
    <%= f.date_field :date, class: 'date-select' %>
    <%= f.label :予定を入力, class: 'lavel' %>
    <%= f.text_field :plan, class: 'text-input' %>
    <%= f.submit '保存' %>
   <% end %>
  </div>
  <div class='calendar'>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
          <%= day[:month] %>/<%= day[:date] %>
          <%= day[:wday] %>
        </div>
        <ul class='content'>
        <% if day[:plans].length != 0 %>
          <% day[:plans].each do |plan| %>
            <li class='plan-list'>・ <%= plan %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
 </div>
</div>
