 <header class="header">
  <div class="header_image">
   <div class="header_img">
        <% if user_signed_in? %>
      <div class="user_nav grid-6">
          <div class="user_name">
          <%= "#{current_user.name}が閲覧しています" %>
          </div>
            <ul class="user__info">
              <li>
              <div class="a_tag">
                <%= link_to "マイページ", user_path(current_user.id) %>
              </div>
              <div class="b_tag">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </div>
              </li>
            </ul>
          </div>
          <div class="user__name">
           登録ユーザ 一覧
          </div>
          <div class="user_each">
            <% @users.each do |user|%>
            <div class="all_user">
            <li>
             <%= link_to user.name, user_path(user.id) %>
            </li>
            </div>
          </div>
          <% end %>
        <% else %>
          </div>
          <div class="grid-7">
          <div class="d_tag">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
          </div>
          <div class="e_tag">
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
         </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
 </header>