<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
      <%= form_with(model: @product, local: true) do |form| %>

      <%= form.label :image, "プロトタイプの画像" %><br />
      <%= form.file_field :image %>

      <%= form.text_area :maker, placeholder: "メーカー", rows: "1" %>
      <%= form.text_area :item, placeholder: "製品名", rows: "2" %>
      <%= form.number_field :battery, placeholder: "バッテリー年数", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>