<!DOCTYPE html>
<html>
  <head>
    <title>Pacemaker38423</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = "pacemaker">
   <div class = "pace">
    <%= link_to "PaceMaker", "/" %>
   </div>
   <div class="monitor">
    <p>Home Monitaring Service</p>
   </div>
  </div>
  <div class="main_wrapper">
    <%= yield %>
  </div>
  <footer>
  <div class="footer_logo">
  Copyright Pacemaker 2023.
  </div>
 </footer>
  </body>
</html>
